<div id="newform">
  <%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
      <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <span class="field">
    <%= f.text_field :summary, :class => 'focus', :placeholder => 'Enter new item here' %>
  </span>
  <% end %>
</div>
