<%= render 'form' %>

<div class="focus">
  Show:
  <a data-focus="all" href="#all">ALL</a>
  <a data-focus="inbox" href="#inbox">inbox</a>
  <a data-focus="project" href="#projects">projects</a>
  <a data-focus="action" href="#actions">actions</a>
  <a data-focus="someday" href="#someday">someday/maybe</a>
  <a data-focus="trivia" href="#trivia">notes</a>
  <a data-focus="calendar" href="#calendar">calendar</a>
</div>

<%= render 'list', :list => @items %>
