<%= render 'form' %>

Show:
<a href="#">ALL</a>
<a href="#">NONE</a>
<a href="#">inbox</a>
<a href="#">projects</a>
<a href="#">actions</a>
<a href="#">someday/maybe</a>
<a href="#">trivia</a>
<a href="#">calendar</a>

<%= render 'list', :list => @items %>
