// Place all the styles related to the items controller here. -*- css -*-
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.itemlist .kind {
}

div.itemlist .summary {
    font-size: 120%;
}

div.item {
    border: 3px solid white;
    border-radius: 5px;
    margin: 3px;
    padding: 2px;
}

div.item:hover {
    border: 3px solid black;
}

.item.waiting { background: #fcc; }
.item.action { background: #bfb; }
.item.project { background: #ffb; }
.item.maybe { background: #ccf; }
.item.inbox { background: #aaa; }
