// Place all the styles related to the items controller here. -*- css -*-
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list h2 {
    padding-left: 5px;
}
.list ul { /* hide/style the li dot */
    padding-left: 1.5em;
}

.inbox.list {
    background: #ffffff;
    float: left;
    width: 25%;
}

.action.list {
    background: #ffffbb;
    float: left;
    width: 25%;
}

.project.list {
    background: #ffddff;
    float: left;
    width: 25%;
}

.waiting.list {
    background: #ddffff;
    float: left;
    width: 25%;
}
