// Place all the styles related to the items controller here. -*- css -*-
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instructions {
    border: 1px solid black;
    padding: .5em;
}
.instructions p {
    margin: 0;
}

ul.itemlist {
    font-size: 150%;
}